<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container px-5">
      <a class="navbar-brand m-0" routerLink="/">StoreTech</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
