.header{
  display: flex;
  align-items: center;
}
.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}
.header .logo{
  max-height: 130px;
}
.home {
  color: white;

}
.inicio{
  color: white;
}
