<app-header></app-header>
<mat-card >
  <mat-card-title>
      Editar Categoria
  </mat-card-title>

  <mat-card-content class="new">
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="nome">
          <input matInput placeholder="Nome da Categoria" required formControlName="name" >
          <mat-error *ngFor="let validation of validation_messages.name">
            <mat-error class="error-message" *ngIf="form.get('name')?.hasError(validation.type) && (form.get('name')?.dirty || form.get('name')?.touched)">{{validation.message}}</mat-error>
          </mat-error>
      </mat-form-field>

    </form>

  <mat-card-actions>
    <button mat-raised-button class="update" (click)="updateCategory()">Cadastrar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card-actions>
  </mat-card-content>
</mat-card>




