<app-header></app-header>
<mat-card >
  <mat-card-title>
      Editar Categoria
  </mat-card-title>

  <mat-card-content class="new">
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="nome">
          <input matInput placeholder="Nome da Categoria" required formControlName="name" >
      </mat-form-field>

      <mat-form-field class="descricao">
        <input matInput placeholder="Descrição" formControlName="description" >
    </mat-form-field>

    </form>

  <mat-card-actions>
    <button mat-raised-button class="update" (click)="updateCategory()">Cadastrar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card-actions>
  </mat-card-content>
</mat-card>




