mat-card{
  margin: 2em auto;
  width: 50%;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

button{
  margin: 15px 15px 0px 0px;
}

.min-width{
  width: 100%;
  min-width: 150px;
}
.new{
  margin-top: 40px;
}
.create
{
  background-color: #8349e7;
  color: white;
}
