<app-header></app-header>
<section class="section-products">
  <div class="container px-5">
    <mat-card>
      <mat-card-title> Novo Produto </mat-card-title>
      <mat-card-content class="new">

        <form [formGroup]="form" class="min-width">
          <mat-form-field class="nome">
            <input
              matInput
              placeholder="Nome"
              required
              formControlName="name"
            />
            <mat-error *ngFor="let validation of validation_messages.name">
              <mat-error class="error-message" *ngIf="form.get('name')?.hasError(validation.type) && (form.get('name')?.dirty || form.get('name')?.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="categoria">
            <mat-label>Categoria</mat-label>
            <mat-select required formControlName="categoryId">
              <mat-option> Selecione</mat-option>
              <mat-option
                *ngFor="let cat of categories$ | async"
                [value]="cat.id"
                >{{ cat.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngFor="let validation of validation_messages.categoryId">
              <mat-error class="error-message" *ngIf="form.get('categoryId')?.hasError(validation.type) && (form.get('categoryId')?.dirty || form.get('categoryId')?.touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <div class="d-flex" style="justify-content: space-between">
            <mat-form-field class="preco" style="width: 40%">
              <input
                matInput
                currencyMask
                placeholder="Preço (R$): "
                required
                formControlName="price"
                [options]="{
                  align: 'left',
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ','
                }"
              />
              <mat-error *ngFor="let validation of validation_messages.price">
                <mat-error class="error-message" *ngIf="form.get('price')?.hasError(validation.type) && (form.get('price')?.dirty || form.get('price')?.touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="quantidade" style="width: 50%">
              <input
              type="number"
                matInput
                placeholder="Quantidade"
                required
                formControlName="quantity"
              />
              <mat-error *ngFor="let validation of validation_messages.quantity">
                <mat-error class="error-message" *ngIf="form.get('quantity')?.hasError(validation.type) && (form.get('quantity')?.dirty || form.get('quantity')?.touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field >
            <mat-label class="descricao">Descrição</mat-label>
            <textarea matInput formControlName="description" ></textarea>
          </mat-form-field>

        </form>

        <mat-card-actions>
          <button mat-raised-button class="create" (click)="createProduct()">
            Cadastrar
          </button>
          <button mat-raised-button (click)="cancel()">Cancelar</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</section>
